#zoo-body {
    /* background-color: rgb(212, 225, 237);
    margin-top: 10%; */
    background-color: rgb(212, 225, 237);
    margin-top: 10%;
    overflow: hidden;
    background: url('/img/blobs.gif') center center fixed;
    background-repeat: no-repeat;
    background-size:cover; 
    height: 100vh; 
    width: 100vw;
}

.lists {
    /* background-color:white;  */
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; 
    border-radius: 10% 35% 35% 10%;
    padding:80px;
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'Times New Roman', Times, serif;
}
#welcome , #header2 {
    color: white;
}

.list-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
    padding:50px;
    border-radius: 5%;
    gap: 6px;
}

.list-container a:link {
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}
.list-container a:hover {
    font-weight: bold;
}

.home-redirect {
    color: white;
}
.home-redirect a {
    float: right;
    margin-top: 80px;
    margin-right: 30px;
    text-decoration: none;
    color: white;
}

.home-redirect a:link {
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.home-redirect a:hover {
    font-weight: bold;
}