.Paragraphs {
    display: flex;
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    font-weight: 900;
    gap: 30px;
    padding: 15px;
    background-color: aqua;
}
.snow-leopard-img {
    text-align: center;
}

#leopard-img {
    border-radius: 25%;
}

